:root {
    --main-font-color: white;
    /*--main-font-color: #061e52;*/
    --main-hover-font-color: black;
    --header-background-color: rgba(72, 170, 179, 0.53);
    --footer-background-color: rgba(20, 43, 43, 0.79);
}

* { padding: 0; margin: 0; }


body, html{
    font-family: "Arial Black", Gadget, sans-serif;
    min-height: 100% !important;
    height: 100%;
}

.wrapper-bg {
    flex-flow: column;
    min-height: 100%;
    color: #b4b4b4;
    display: flex;
    flex-direction: column;
    background: url("../img/background2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
    flex: 2 ;
    overflow: auto;
}
.header{
    background-color: var(--header-background-color);
}

.navbar-default{
    background-color: transparent;
}

.header .navbar-nav > li > a {
    color: var(--main-font-color);
    font-size: 24px;
    border-radius: 1px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: none;
    min-width: 400px;
    border: none;
}

.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:focus,
.header .navbar-default .navbar-nav > .open > a:hover {
    color: #000000;
    background-color: transparent;
}

.header .nav > li > a:focus,
.header .nav > li > a:hover {
    color: var(--main-hover-font-color);
    background-color: transparent;
}

.header .navbar-nav > li {
    margin-right: 20px;
}

.header .navbar-nav {
    margin-top: 12px;
}

.header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header .navbar-brand {
    color: var(--main-font-color);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .navbar-brand:hover {
    color: var(--main-hover-font-color);
}

.content_dark_background {
    margin-left: 15%;
    margin-right: 15%;
    padding: 3%;
    background: rgba(0, 0, 0, 0.6);
}

.content_dark_background h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}

.content_dark_background p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header .btn-prim {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline: none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition: 0.2s background-color;
}

.header .btn-prim:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.header .btn-prim:active {
    transform: translateY(1px);
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .content_dark_background {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .content_dark_background h1 {
        font-size: 42px;
    }
}


.main-text{
    margin: 15%;
    color: var(--main-font-color);
    -webkit-text-stroke-color: var(--main-hover-font-color);
    text-align: center;

}

.main-text h1{
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;

}

.main-text p{
    font-size: 35px;
    font-weight: normal;
    -webkit-text-stroke-width: 1px;
    line-height: 1.5;
}

.auth {
    text-align: right;
    padding-right: 20px;
}


.error-message {
    color: red;
}

.logout_button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: #0000FF;
}

.footer {
    padding: 0.5%;
    width: 100%;
    background-color: var(--footer-background-color);
    color: white;
    text-align: center;
    flex: 0 0 auto;
}

.btn-prim {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.btn-prim:hover {
    background-color:rgba(255,255,255,0.15);
    color: white;
}

.btn-prim:active {
    background-color: var(--header-background-color);
    transform:translateY(1px);
}

